<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-gallery-api" version="0.0.1">
    <name>Whitelist</name>
    <description>Cordova Network Whitelist Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,whitelist,policy</keywords>

    <js-module src="www/gallery-api.js" name="device">
        <clobbers target="galleryAPI" />
    </js-module>

    <platform name="android">

         <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GalleryAPI">
                <param name="android-package" value="com.imxood.galleryapi.GalleryAPI" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
        </config-file>
        <source-file src="src/android/GalleryAPI.java" target-dir="src/com/imxood/galleryapi" />
    </platform>

</plugin>


<!-- compile 'com.android.support:support-v4:24.2.0' -->